body {
  background-color: red;
}

.html {
  color: rgb(190, 253, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  text-decoration-color: rgb(0, 221, 255);
  font-size: 1.3rem;
}

.click {
  background-color: black;
  color: white;
  border-color: aqua;
  border-radius: 2rem;
  padding: 0.6rem;
  margin: 1rem;
}

.head {
  font-size: 2rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(43, 226, 211);
}

.tags {
  color: rgb(255, 255, 255);
  margin-left: 39rem;
  margin-top: 3rem;
  font-size: 2.5rem;
}

.x {
  text-decoration: none;
  margin-top: -38rem;
  margin-left: 80rem;
}

.lucide-x-icon {
  color: rgb(0, 229, 255);
  font-size: 3rem;
  border-radius: 0.2rem;
  background-color: black;
  border-color: aqua;
}

.learn {
  color: yellow;
  font-size: 2rem;
  margin-bottom: -3rem;
  margin-left: 0.8rem;
  text-decoration: underline;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.css {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
